{% extends "base.html" %}

{% block title %}Add Review{% endblock %}

{% block content %}
<div class="card-dealership">
    <h1 class="text-success">Add Review</h1>
    <form method="post" action="{% url 'submit_review' %}">
        {% csrf_token %}
        <input type="hidden" name="dealer_id" value="{{ dealer_id }}">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="reviewer_name" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Review</label>
            <textarea name="review_text" class="form-control" rows="3" required></textarea>
        </div>
        <div class="form-group">
            <label>Rating</label>
            <select name="rating" class="form-control" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <div class="form-group">
            <label>Car Make</label>
            <input type="text" name="car_make" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Car Year</label>
            <input type="number" name="car_year" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Purchase Date</label>
            <input type="date" name="purchase_date" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Post Review</button>
    </form>
</div>
{% endblock %}